/* -----------------------------------
    11. Responsive CSS
--------------------------------------*/

/*-- Laptop Screen --*/
@media only screen and (min-width: 1171px) and (max-width: 1400px) {
.res-hero-slide-content {
  padding: 185px 0;
}
.res-about-content {
  padding: 70px;
}

}


/*-- Desktop : 992px --*/
@media only screen and (min-width: 992px) and (max-width: 1169px) {
.res-hero-slide-content {
  padding: 115px 0;
}
.res-hero-slide-content h1 {
  font-size: 40px;
}
.res-hero-slide-content p {
  margin-bottom: 30px;
  max-width: 600px;
}
.res-about-content {
  padding: 50px;
}


}


/*-- Tablet : 768px --*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
.res-hero-slide-content {
  padding: 115px 0;
}
.res-hero-slide-content h1 {
  font-size: 36px;
}
.res-hero-slide-content p {
  margin-bottom: 30px;
  max-width: 600px;
}
.res-about-image {
  min-height: 400px;
  position: static;
}
.res-about-content {
  padding: 50px;
}
.res-testimonial-slider {
  padding: 80px 80px 0;
}


}


/*-- Large Mobile : 480px --*/
@media only screen and (max-width: 767px) {
.res-section-title h1 {
  font-size: 30px;
}
.res-hero-section {
  margin-top: 80px;
}
.res-hero-slide-content {
  padding: 80px 0;
}
.res-hero-slide-content h1 {
  font-size: 24px;
}
.res-hero-slide-content p {
  margin-bottom: 30px;
}
.res-about-image {
  min-height: 400px;
  position: static;
}
.res-about-content {
  padding: 50px;
}
.res-food-menu-wrapper {
  padding: 50px 35px 160px;
}
.res-food-menu-item .image {
  margin-right: 15px;
  width: 80px;
}
.res-reservation-wrapper {
  padding: 90px 60px 100px;
}
.res-testimonial-wrapper {
  padding: 20px 20px 0;
}
.res-testimonial-slider {
  padding: 50px 50px 0;
}
.res-footer-widget .res-footer-logo {
  margin-top: 0;
}

}


/*-- small mobile : 320px --*/
@media only screen and (max-width: 479px) {
.res-section-title h1 {
  font-size: 24px;
}
.res-dishes-item .content {
  bottom: 30px;
}
.res-food-menu-item .image {
  float: none;
  margin-bottom: 10px;
}
.res-opening-time-list {
  padding: 50px 15px 45px;
}
.res-opening-time-online {
  padding: 40px 15px 50px;
}
.res-opening-time-online a {
  margin: 5px 2px 0;
}
.res-reservation-wrapper {
  padding: 50px 30px;
}
.res-reservation-wrapper h3 {
  font-size: 20px;
  margin-bottom: 50px;
}
.res-testimonial-slider {
  padding: 50px 30px 0;
}
.res-testimonial-slide-item p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 40px;
}
.res-testimonial-slide-item img {
  margin-bottom: 40px;
  width: 50px;
}
.res-testimonial-slider .slick-dots li {
  margin: 0 5px;
}


}


